<div class="sidebar">
        <div class="sidebar-header">
            <span class="logo"><i class="fa-solid fa-bolt"></i></span>
            <h2> Dash</h2>
        </div>
        <button type="button" class="collapse-button"><i class="fa-solid fa-angle-left"></i></button>
        <div class="sidebar-content">
            <p class="sidebar-title">MAIN MENU</p>
            <div class="sidebar-row">
                <div class="l-s-row">
                    <span><i class="fa-solid fa-chart-simple"></i></span>
                    <p>Dashboard</p>
                </div>
                
            </div>

            <div class="sidebar-row">
                <div class="l-s-row">
                    <span><i class="fa-regular fa-comment-dots"></i></span>
                    <p>Inbox</p>
                </div>
                <span>1</span>
            </div>
            
            <p class="sidebar-title">Workspace</p>
            <div class="sidebar-row">
                <div class="l-s-row">
                    <span><i class="fa-regular fa-user"></i></span>
                    <p>Accounts</p>
                </div>
                
            </div>

            <div class="sidebar-row">
                <div class="l-s-row">
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <p>Schedule Post</p>
                </div>
            </div>

            <div class="sidebar-row">
                <div class="l-s-row">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    <p>Communities</p>
                </div>
                
            </div>

            <div class="sidebar-row">
                <div class="l-s-row">
                    <span><i class="fa-solid fa-chart-line"></i></span>
                    <p>Alalytics</p>
                </div>
            </div>

            <p class="sidebar-title">General</p>
            <div class="sidebar-row">
                <div class="l-s-row">
                    <span><i class="fa-regular fa-folder-closed"></i></span>
                    <p>File & Folder</p>
                </div>
                
            </div>

            <div class="sidebar-row">
                <div class="l-s-row">
                    <span><i class="fa-solid fa-gear"></i></span>
                    <p>Settings</p>
                </div>
            </div>
            
        </div>
        <div class="sidebar-footer">
            <span class="question-icon"><i class="fa-regular fa-circle-question"></i></span>
            <p>Need help with Dash?</p>
            <div><button type="button" class="support-button">Go to help center</button></div>
        </div>
</div>
